.site-footer {
	display: flex;
	height: 310px;
	width: 100%;
	justify-content: space-between;
	align-items: end;
	margin-bottom: 85px;
	position: relative;
	border-top: solid 1px #bcd0e5;
}

.site-footer__brand {
	flex: 1 0 auto;
	display: flex;
	justify-content: start;
	align-items: end;
}

.site-footer__logo {
	position: absolute;
	top: 80px;
	left: 20px;
}

.site-footer__content {
	display: flex;
	justify-content: space-between;
	align-items: end;
	width: 70%;
	height: 50%;
	padding: 0;
	margin: 0;
}

.footer-nav__list {
	display: inline-block;
	line-height: 2.2;
	list-style: none;
	padding: 0;
	margin: 0;
}

.footer-nav__list li {
	list-style: none;
}

.footer-nav__list li a {
	text-decoration: none;
	color: #2f281e;
	font-size: 14px;
	transition: all 0.25s;
	margin: 0;
	padding: 0;
}

.footer-nav__list li:hover {
	transform: scale(1.2);
	text-decoration: underline;
}

.newsletter {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding-bottom: 10px;
}

.newsletter__input {
	display: inline-block;
	margin-bottom: 20px;
	border: solid 1px #bcd0e5;
	padding: 10px;
	border-radius: 4px;
	cursor: pointer;
	transition: all 0.15s;
}

.newsletter__input:hover {
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
