.feature {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 90px;
	margin-bottom: 115px;
}

.feature__top {
	margin-bottom: 54px;
}

.feature__title {
	font-size: 36px;
	max-width: 539px;
	color: #2f281e;
	text-align: center;
}

.feature__middle {
	display: flex;
	justify-content: space-between;
	margin-bottom: 34px;
}

.item {
	width: 240px;
}

.feature__middle__title {
	font-size: 22px;
	color: #2f281e;
}

.feature__item__info {
	font-size: 16px;
	font-weight: 500px;
	color: #544837;
	line-height: 1.6;
}

.sign__up__now {
	font-size: 16px;
	font-weight: bold;
	padding: 11px 25px;
	border-radius: 4px;
	cursor: pointer;
	transition: all 0.15s;
	border: none;
	background-color: #ff9900;
	color: #fff;
	margin-right: 30px;
}

.sign__up__now:hover {
	box-shadow: 0 0 7px rgba(0, 0, 0, 0.7);
}
