.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 78px;
	margin-bottom: 30px;
}

.navbar__actions {
	display: flex;
	align-items: center;
}

.navbar__brand {
	flex: 1;
}
.navbar__content {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	flex: 1.5;
}

.navbar__content ul {
	width: 100%;
	justify-content: end;
	margin-right: 29px;
}

.navbar__content ul {
	display: flex;
	list-style: none;
	justify-content: space-around;
	cursor: pointer;
}

.navbar__content ul li a {
	text-decoration: none;
	color: #2f281e;
	font-size: 14px;
	transition: all 0.25s; /*check proper placement*/
}

.navbar__content ul li:hover {
	transform: scale(1.2);
	text-decoration: underline;
}

.btn {
	font-size: 16px;
	font-weight: 600;
	padding: 11px 25px;
	border-radius: 4px;
	cursor: pointer;
	transition: all 0.15s;
	text-decoration: none;
	display: inline-block;
	text-align: center;
}

.btn-outline {
	border: solid 1px #bcd0e5;
	background-color: #fff;
	margin-right: 14px;
}

.btn-outline:hover {
	box-shadow: 0 0 7px rgba(0, 0, 0, 0.7);
}

.btn-outline:active {
	background-color: #bcd0e5;
}

.btn-fill {
	border: none;
	background-color: #ff9900;
	color: #fff;
}

.btn-fill:hover {
	box-shadow: 0 0 7px rgba(0, 0, 0, 0.7);
}

.btn-fill:active {
	color: #ffa800;
}
